.project-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 20px 30px;
  .admin-image {
    flex: 0 0 20%;
    max-height: 200px;
  }
  .edit-form-wrapper {
    form {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 10px;
      }
    }
  }
}
