#root {
  margin: 0;
}
.app-wrapper {
  padding: 0 50px;
  flex-direction: column wrap;
  justify-content: space-between;
  .home-project-images {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
  }
  .header {
    width: 100%;
    margin-bottom: 30px;
    font-size: 4.2em;
  }
  .footer {
    position: fixed;
    left: 50px;
    bottom: 50px;
    width: 100%;
    font-size: 1.2em;
  }
  .home-image {
    &:hover {
      cursor: pointer;
    }
  }
}
